{include file='public/head'}



<div class="container" id="content-container">

    <div class="row">

        <main class="col-md-8">
            <div class="panel panel-default article-content">
                <div class="panel-heading">
                    <ol class="breadcrumb">
                        <!-- S 面包屑导航 -->
                        <li><a href="/cms/">首页</a></li>
                        <li><a href="/cms/c/news.html">源码下载</a></li>
                        <li><a href="/cms/c/hardware.html">{$category['name']}</a></li>
                        <!-- E 面包屑导航 -->
                    </ol>
                </div>
                <div class="panel-body">
                    <div class="article-metas">
                        <h1 class="metas-title" >
                            {$content['title']}                        </h1>
                        <!-- S 统计信息 -->
                        <div class="metas-body">
                                                        <span class="views-num">
                                <i class="fa fa-eye"></i> {$content['click']} 点击
                            </span>
                            <span class="comment-num">
                                <i class="fa fa-comments"></i> 0 评论
                            </span>
                            <span class="like-num">
                                <i class="fa fa-thumbs-o-up"></i>
                                <span class="js-like-num"> {$content['like']} 点赞
                                </span>
                            </span>
                        </div>
                        <!-- E 统计信息 -->
                    </div>

                    <div class="article-text">
                        <!-- S 正文 -->
                        {$content['content']}
                        <!-- E 正文 -->
                    </div>

                    <!-- S 付费阅读 -->
                    <!-- E 付费阅读 -->
                    <div class="article-donate">
                        <a href="javascript:" class="btn btn-primary btn-like btn-lg" data-action="vote" data-type="like" data-id="4" data-tag="archives"><i class="fa fa-thumbs-up"></i> 点赞(<span>{$content['like']}</span>)</a>
                        <a href="/index/down/download/id/{$content['id']}" class="btn btn-primary btn-like btn-lg" data-action="vote" data-type="like" data-id="4" data-tag="archives"> 下载</a>
                        <a href="javascript:" class="btn btn-outline-primary btn-donate btn-lg" data-action="donate" data-id="4" data-image="/wxds.png"><i class="fa fa-cny"></i> 打赏</a>
                    </div>

                    <div class="entry-meta">
                        <ul>
                            <!-- S 归档 -->
                            <li>源码分类：<a href="/idnex/down/list/id/{$category['id']}">{$category['name']}</a></li>
                            <li>浏览次数：<span>{$content['click']}</span> 次点击</li>
                            <li>发布日期：{$content['addtime']}</li>
                            <li>本文链接：<a href="/index/down/content/id/{$category['id']}">/index/down/content/id/{$content['id']}</a></li>
                            <!-- S 归档 -->
                        </ul>

<!--                        <ul class="article-prevnext">-->
<!--                            &lt;!&ndash; S 上一篇下一篇 &ndash;&gt;-->
<!--                            <li>-->
<!--                                <span>上一篇 &gt;</span>-->
<!--                                <a href="/cms/a/3.html">Misfit最新的混合动力手表Path现已上市</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span>下一篇 &gt;</span>-->
<!--                                <a href="/cms/a/5.html">南孚推出全球首款测电器装电池：可秒分电池新旧</a>-->
<!--                            </li>-->
<!--                            &lt;!&ndash; E 上一篇下一篇 &ndash;&gt;-->
<!--                        </ul>-->
                    </div>

                    <div class="article-action-btn">
                        <div class="pull-left">
                            <!-- S 收藏 -->
                            <a class="product-favorite addbookbark mr-2" href="javascript:;">
                                <i class="fa fa-heart"></i> 收藏                            </a>
                            <!-- E 收藏 -->
                            <!-- S 分享 -->
                            <span class="bdsharebuttonbox share-box bdshare-button-style0-16">
                            <a class="bds_more share-box-a" data-cmd="more">
                                <i class="fa fa-share"></i> 分享                            </a>
                        </span>
                            <!-- E 分享 -->
                        </div>
                        <div class="pull-right">
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="related-article">
                        <div class="row">
                            <!-- S 相关文章 -->
                            {volist name='correlation' id='vo'}
                            <div class="col-sm-3 col-xs-6">
                                <a href="/index/down/content/id/{$vo.id}" class="img-zoom">
                                    <div class="embed-responsive embed-responsive-4by3">
                                        <img src="{$vo.picrure}" alt="{$vo.title}" class="embed-responsive-item">
                                    </div>
                                </a>
                                <h5><a href="/index/down/content/id/{$vo.id}">{$vo.title}</a></h5>
                            </div>
                            {/volist}
                            <!-- E 相关文章 -->
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="panel panel-default" id="comments">
                <div class="panel-heading">
                    <h3 class="panel-title">评论列表                        <small>共有 <span>0</span> 条评论</small>
                    </h3>
                </div>
                <div class="panel-body">
                    <div id="comment-container">
                        <!-- S 评论列表 -->
<!--                        <div id="commentlist">-->
<!--                            <dl id="comment-150">-->
<!--                                <dt><a href="javascript:;" rel="nofollow"><img src='static/picture/72a225ad6f824459a7625aef4c87c261.gif'/></a></dt>-->
<!--                                <dd>-->
<!--                                    <div class="parent">-->
<!--                                        <cite><a href='javascript:;' rel='external nofollow'>꯭陈꯭字꯭翔꯭</a></cite>-->
<!--                                        <small> 2月前 <a href="javascript:;" data-id="150" title="@꯭陈꯭字꯭翔꯭ " class="reply">回复TA</a></small>-->
<!--                                        <p>呵呵？</p>-->
<!--                                    </div>-->
<!--                                </dd>-->
<!--                                <div class="clearfix"></div>-->
<!--                            </dl>-->
<!--                        </div>-->
                        <!-- E 评论列表 -->

                        <!-- S 评论分页 -->
                        <div id="commentpager" class="text-center">
                        </div>
                        <!-- E 评论分页 -->

                        <!-- S 发表评论 -->
                        <div id="postcomment">
                            <h3>发表评论 <a href="javascript:;">
                                <small>取消回复</small>
                            </a></h3>
                            <form action="/addons/cms/comment/post.html" method="post" id="postform">
                                <input type="hidden" name="__token__" value="ba8c42a3a0216b104acde0268557ea6c" />            <input type="hidden" name="type" value="archives"/>
                                <input type="hidden" name="aid" value="4"/>
                                <input type="hidden" name="pid" id="pid" value="0"/>
                                <div class="form-group">
                                    <textarea name="content" class="form-control" disabled placeholder="请登录后再发表评论"  id="commentcontent" cols="6" rows="5" tabindex="4"></textarea>
                                </div>
                                <div class="form-group">
                                    <a href="/index/user/login.html" class="btn btn-primary">登录</a>
                                    <a href="/index/user/register.html" class="btn btn-outline-primary">注册新账号</a>
                                </div>
                            </form>
                        </div>
                        <!-- E 发表评论 -->
                    </div>
                </div>
            </div>

        </main>

        <aside class="col-xs-12 col-sm-4">

<!--            <div class="panel panel-blockimg">-->
<!--                <a href="https://www.fastadmin.net/store/ask.html">-->
<!--                    <img src="static/picture/howto.png" class="img-responsive">-->
<!--                </a>-->
<!--            </div>-->

            <!-- S 热门下载 -->
            <div class="panel panel-default hot-article">
                <div class="panel-heading">
                    <h3 class="panel-title">推荐下载</h3>
                </div>
                <div class="panel-body">
                    {volist name='click' id='vo'}
                    <div class="media media-number">
                        <div class="media-left">
                            <span class="num">{$key+1}</span>
                        </div>
                        <div class="media-body">
                            <a class="link-dark" href="/index/down/content/id/{$vo.id}" title="{$vo.title}">{$vo.title}</a>
                        </div>
                    </div>
                    {/volist}
                </div>
            </div>
            <!-- E 热门资讯 -->

            <div class="panel panel-blockimg">
                <a href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=t50mdbun" rel="nofollow" title="FastAdmin推荐企业服务器" target="_blank">
                    <img src="static/picture/aliyun-sidebar.png" class="img-responsive" alt="">
                </a>
            </div>

            <!-- S 热门标签 -->
            <div class="panel panel-default hot-tags">
                <div class="panel-heading">
                    <h3 class="panel-title">热门标签</h3>
                </div>
                <div class="panel-body">
                    <div class="tags">
                        {volist name='tag' id='vo'}
                        <a href="/index/down/lists/id/{$vo.id}" class="tag"> <span>{$vo.name}</span></a>
                        {/volist}
                    </div>
                </div>
            </div>
            <!-- E 热门标签 -->

            <!-- S 推荐下载 -->
            <div class="panel panel-default recommend-article">
                <div class="panel-heading">
                    <h3 class="panel-title">推荐网赚</h3>
                </div>
                <div class="panel-body">
                    {volist name='news' id='vo'}
                    <div class="media media-number">
                        <div class="media-left">
                            <span class="num">{$key+1}</span>
                        </div>
                        <div class="media-body">
                            <a href="/index/news/content/id/{$vo.id}" title="{$vo.id}">{$vo.title}</a>
                        </div>
                    </div>
                    {/volist}
                </div>
            </div>
            <!-- E 推荐下载 -->

            <div class="panel panel-blockimg">
                <a href="https://www.fastadmin.net/go/aliyun" title="FastAdmin推荐企业服务器" target="_blank">
                    <img src="static/picture/enterprisehost.png" class="img-responsive" alt="">
                </a>
            </div>
        </aside>
    </div>
</div>

{include file='public/footer'}